acme==1.21.0
aiofiles==24.1.0
aiohttp==3.9.3
aiosignal==1.3.1
alabaster==0.7.13
alembic==1.13.1
annotated-types==0.6.0
ansible==6.4.0
ansible-core==2.13.5
anthropic==0.28.0
anyio==3.7.0
appdirs==1.4.4
apturl==0.5.2
argcomplete==1.8.1
argilla==1.29.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.8.1
asn1crypto==1.4.0
asttokens==2.0.8
async-generator==1.10
async-timeout==4.0.2
atlassian-python-api==3.40.0
attrs==21.2.0
autopep8==1.6.0
Babel==2.12.1
backcall==0.2.0
backoff==2.2.1
bcrypt==4.1.2
beautifulsoup4==4.12.3
beniget==0.4.1
bitarray==2.9.2
bleach==5.0.1
blinker==1.6.2
blis==0.7.11
borgbackup==1.2.0
Brlapi==0.8.3
Brotli==1.0.9
bs4==0.0.2
build==1.2.1
CacheControl==0.12.10
cachetools==5.3.3
cachy==0.3.0
cassandra-driver==3.29.0
cassio==0.1.4
catalogue==2.0.10
certbot==1.21.0
certbot-nginx==1.21.0
certifi==2021.10.8
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.0.7
chroma-hnswlib==0.7.3
chromadb==0.4.24
ci-info==0.3.0
cleo==0.8.1
click==8.1.7
clikit==0.6.2
cloudpathlib==0.18.1
cloudpickle==2.2.1
colbert-ai==0.2.19
colorama==0.4.4
coloredlogs==15.0.1
command-not-found==0.3
commonmark==0.9.1
confection==0.1.5
ConfigArgParse==1.5.3
configobj==5.0.6
configparser==7.0.0
contextlib2==21.6.0
contourpy==1.0.5
crashtest==0.3.1
cryptography==41.0.1
cupshelpers==1.0
cycler==0.11.0
cymem==2.0.8
dataclasses-json==0.5.8
datasets==2.19.2
dbus-python==1.2.18
debugpy==1.6.3
decorator==5.1.1
defer==1.0.6
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.8
dirtyjson==1.0.8
distlib==0.3.4
distro==1.7.0
distro-info==1.1+ubuntu0.2
docker==5.0.3
dockerpty==0.4.1
docopt==0.6.2
docstring-parser==0.15
docutils==0.16
duplicity==0.8.21
embedchain==0.1.100
entrypoints==0.4
et-xmlfile==1.1.0
etelemetry==0.3.1
exceptiongroup==1.1.1
executing==1.0.0
faiss-cpu==1.7.4
Farama-Notifications==0.0.4
fast-pytorch-kmeans==0.2.0.1
fastapi==0.110.1
fasteners==0.14.1
fastjsonschema==2.16.1
filelock==3.6.0
filetype==1.2.0
fitz==0.0.1.dev2
Flask==2.0.2
flatbuffers==23.5.26
fonttools==4.37.2
frontend==0.0.3
frozenlist==1.3.3
fs==2.4.12
fsspec==2023.6.0
furo==2023.3.27
future==0.18.2
gast==0.5.2
geomet==0.2.1.post1
git-python==1.0.3
gitdb==4.0.11
GitPython==3.1.43
google-api-core==2.18.0
google-auth==2.29.0
google-cloud-aiplatform==1.48.0
google-cloud-bigquery==3.20.1
google-cloud-core==2.4.1
google-cloud-resource-manager==1.12.3
google-cloud-storage==2.16.0
google-crc32c==1.5.0
google-resumable-media==2.7.0
google-search-results==2.4.2
googleapis-common-protos==1.63.0
gpg==1.16.0
gptcache==0.1.43
graphviz==0.20.1
greenlet==2.0.2
grpc-google-iam-v1==0.13.0
grpcio==1.62.1
grpcio-status==1.62.1
gym==0.26.2
gym-notices==0.0.8
gymnasium==0.29.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
html2text==2020.1.16
html5lib==1.1
httpcore==1.0.2
httplib2==0.20.2
httptools==0.6.0
httpx==0.25.1
huggingface-hub==0.23.3
humanfriendly==10.0
hyperframe==6.0.1
idna==3.3
imagesize==1.4.1
importlib-metadata==7.0.0
importlib-resources==6.0.1
inflection==0.5.1
instructor==0.5.2
ipykernel==6.15.3
ipython==8.5.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
isodate==0.6.1
itsdangerous==2.0.1
jedi==0.18.1
jeepney==0.7.1
Jinja2==3.0.2
jiter==0.4.1
joblib==1.2.0
josepy==1.10.0
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.16.0
jupyter==1.0.0
jupyter-cache==0.6.1
jupyter-console==6.4.4
jupyter-core==4.11.1
jupyter_client==7.3.5
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
keyring==23.5.0
kiwisolver==1.4.4
kubernetes==29.0.0
langchain==0.2.3
langchain-anthropic==0.1.15
langchain-chroma==0.1.1
langchain-cli==0.0.24
langchain-community==0.2.4
langchain-core==0.2.5
langchain-openai==0.1.8
langchain-text-splitters==0.2.1
langchainhub==0.1.14
langchainplus-sdk==0.0.16
langcodes==3.4.0
langgraph==0.0.64
langserve==0.2.1
langsmith==0.1.74
language-selector==0.1
language_data==1.2.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
libcst==1.4.0
libvirt-python==8.0.0
linode-cli==5.51.0
linode_metadata==0.3.0
livereload==2.6.3
llama-hub==0.0.19
llama-index==0.10.43
llama-index-agent-openai==0.2.7
llama-index-cli==0.1.12
llama-index-core==0.10.43
llama-index-embeddings-openai==0.1.10
llama-index-indices-managed-llama-cloud==0.1.6
llama-index-legacy==0.9.48
llama-index-llms-openai==0.1.22
llama-index-multi-modal-llms-openai==0.1.6
llama-index-program-openai==0.1.6
llama-index-question-gen-openai==0.1.3
llama-index-readers-file==0.1.23
llama-index-readers-llama-parse==0.1.4
llama-parse==0.4.4
llamaindex-py-client==0.1.19
llfuse==1.3.8
lockfile==0.12.2
looseversion==1.3.0
louis==3.20.0
lxml==4.9.1
lz4==3.1.3+dfsg
m2r2==0.3.2
macaroonbakery==1.3.1
Mako==1.1.3
marisa-trie==1.2.0
Markdown==3.5.2
markdown-it-py==2.2.0
MarkupSafe==2.0.1
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.6.0
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.5
mdurl==0.1.2
mechanize==0.4.7
mistune==0.8.4
mkdocs==1.1.2
mmh3==4.1.0
monotonic==1.6
more-itertools==8.10.0
mpmath==1.3.0
msg-parser==1.2.0
msgpack==1.0.3
multidict==6.0.4
multiprocess==0.70.16
murmurhash==1.0.10
mypy-extensions==1.0.0
myst-nb==0.17.2
myst-parser==0.18.1
nbclient==0.6.8
nbconvert==6.5.4
nbformat==5.5.0
nest-asyncio==1.6.0
netifaces==0.11.0
networkx==3.3
nibabel==5.2.1
ninja==1.11.1.1
nipype==1.8.6
nltk==3.8.1
notebook==6.4.12
numexpr==2.8.4
numpy==1.26.3
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.5.40
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
olefile==0.46
onnx==1.16.1
onnxruntime==1.15.1
openai==1.31.1
openapi==1.1.0
openapi-schema-pydantic==1.2.4
openapi3==1.8.2
openpyxl==3.0.9
opentelemetry-api==1.24.0
opentelemetry-exporter-otlp-proto-common==1.24.0
opentelemetry-exporter-otlp-proto-grpc==1.24.0
opentelemetry-exporter-otlp-proto-http==1.24.0
opentelemetry-instrumentation==0.45b0
opentelemetry-instrumentation-asgi==0.45b0
opentelemetry-instrumentation-fastapi==0.45b0
opentelemetry-proto==1.24.0
opentelemetry-sdk==1.24.0
opentelemetry-semantic-conventions==0.45b0
opentelemetry-util-http==0.45b0
openvpn-connector-setup==3
orjson==3.10.1
outcome==1.1.0
overrides==7.4.0
packaging==23.2
pandas==1.3.4
pandas-stubs==1.2.0.35
pandocfilters==1.5.0
paramiko==2.9.3
parsedatetime==2.6
parso==0.8.3
pastel==0.2.1
pathlib==1.0.1
pathspec==0.9.0
pdf2image==1.16.3
pdfminer.six==20221105
pexpect==4.8.0
pickleshare==0.7.5
pillow==10.4.0
pipx==1.0.0
Pivy==0.6.5
pkginfo==1.8.2
platformdirs==2.5.1
ply==3.11
poetry-core==1.0.7
posthog==3.5.0
preshed==3.0.9
prometheus-client==0.14.1
prompt-toolkit==3.0.31
proto-plus==1.23.0
protobuf==4.25.3
prov==2.0.1
psutil==5.9.2
ptyprocess==0.7.0
pulsar-client==3.2.0
pure-eval==0.2.2
pyarrow==16.1.0
pyarrow-hotfix==0.6
pyasn1==0.6.0
pyasn1_modules==0.4.0
PyBluez @ git+https://github.com/pybluez/pybluez.git@82cbba8a1ebd4c1e3442dfafd8581d58c50fa39e
pycairo==1.20.1
pycodestyle==2.8.0
pycparser==2.21
pycups==2.0.1
pydantic==2.7.0
pydantic_core==2.18.1
pydot==2.0.0
pyfuse3==3.2.0
pygame==2.4.0
Pygments==2.13.0
PyGObject==3.42.1
PyICU==2.8.1
pyinotify==0.9.6
PyJWT==2.3.0
pylev==1.2.0
pymacaroons==0.13.0
PyMuPDF==1.24.7
PyMuPDFb==1.24.6
PyNaCl==1.5.0
pynvml==11.5.0
pyOpenSSL==21.0.0
pypandoc==1.11
pyparsing==3.1.2
pypdf==4.2.0
PyPDF2==3.0.1
PyPika==0.48.9
pypng==0.20220715.0
pyproject-toml==0.0.10
pyproject_hooks==1.0.0
PyQt5==5.15.6
PyQt5-sip==12.9.1
pyRFC3339==1.1
pyrsistent==0.18.1
pysbd==0.3.4
pyserial==3.5
PySocks==1.7.1
python-apt==2.4.0+ubuntu4
python-dateutil==2.8.2
python-debian==0.1.43+ubuntu1.1
python-docx==0.8.11
python-dotenv==1.0.0
python-magic==0.4.27
python-pptx==0.6.21
pythran==0.10.0
pytils==0.4.1
pytube==15.0.0
pytz==2021.3
pyxdg==0.27
pyxnat==1.6.2
PyYAML==6.0.1
pyzmq==24.0.0
qrcode==7.4.2
qtconsole==5.3.2
QtPy==2.2.0
RAGatouille==0.0.8.post2
ranger-fm==1.9.3
rdflib==6.3.2
regex==2023.12.25
reportlab==3.6.8
requests==2.32.3
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
resolvelib==0.8.1
retrying==1.3.4
rfc3986==1.5.0
rich==13.7.1
rsa==4.9
safetensors==0.4.3
schedule==1.2.0
schema==0.7.5
scikit-learn==1.5.0
scipy==1.8.0
seaborn==0.12.0
SecretStorage==3.3.1
Send2Trash==1.8.0
sentence-transformers==2.7.0
shapely==2.0.4
shellingham==1.4.0
simplejson==3.19.2
six==1.16.0
smart-open==7.0.4
smmap==5.0.1
sniffio==1.2.0
snowballstemmer==2.2.0
sortedcontainers==2.1.0
soupsieve==2.3.2.post1
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
Sphinx==5.3.0
sphinx-autobuild==2021.3.14
sphinx-basic-ng==1.0.0b1
sphinx-rtd-theme==1.2.2
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==2.0.29
srsly==2.4.8
sse-starlette==1.8.2
ssh-import-id==5.11
stack-data==0.5.0
starlette==0.37.2
striprtf==0.0.26
sympy==1.12
systemd-python==234
tabulate==0.9.0
tenacity==8.2.3
terminado==0.15.0
terminaltables==3.1.10
texttable==1.6.4
thinc==8.2.5
threadpoolctl==3.5.0
tiktoken==0.7.0
tinycss2==1.1.1
tokenizers==0.19.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.5
tools==0.1.9
torbrowser-launcher==0.3.3
torch==2.3.1
tornado==6.2
tqdm==4.66.1
traitlets==5.4.0
traits==6.3.2
transformers==4.41.2
trio==0.19.0
triton==2.3.1
typer==0.9.0
types-requests==2.31.0.20240218
typing-inspect==0.8.0
typing_extensions==4.9.0
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufoLib2==0.13.1
ufw==0.36.1
ujson==5.10.0
unattended-upgrades==0.1
unicodedata2==14.0.0
unstructured==0.7.8
urllib3==2.2.1
usb-creator==0.3.7
userpath==1.8.0
uvicorn==0.23.2
uvloop==0.17.0
vboxapi==1.0
virtualenv==20.13.0+ds
voyager==2.0.6
wadllib==1.3.6
wasabi==1.1.3
watchfiles==0.19.0
wcwidth==0.2.5
weasel==0.4.1
webencodings==0.5.1
websocket-client==1.2.3
websockets==11.0.3
Werkzeug==2.0.2
widgetsnbextension==4.0.3
wrapt==1.14.1
xdg==5
xkit==0.0.0
xlrd==2.0.1
XlsxWriter==3.1.2
xxhash==3.4.1
yamllint==1.26.3
yarl==1.9.2
youtube-transcript-api==0.5.0
zipp==1.0.0
zope.component==4.3.0
zope.event==4.4
zope.hookable==5.1.0
zope.interface==5.4.0
